<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>成绩查询</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <script type="{{
  url_for('static', filename='prefixfree.js') }}"></script>
</head>

<body>

    <body>
        <div class="topheader">
        <br>
        <h2>&nbsp;软件项目管理在线学习</h2>
        <h3>&nbsp;&nbsp;Software Project Management Learning Online</h3>
    </div>
        <div class="wrap">
            <nav>
                <ul class="menu">
                    <li><a href="index.html"><span class="home"></span>首页</a>
                        <ul>
                            <li><a href="index.html#intro">课程介绍</a></li>
                            <li><a href="index.html#content">课程内容</a></li>
                            <li><a href="index.html#praxis">课程实践</a></li>
                            <li><a href="index.html#tteam">教学团队</a></li>
                            <li><a href="index.html#login">用户登录</a></li>
                        </ul>
                    </li>
                    <li><a href="info.html"><span class="info"></span>行业信息</a>
                        <ul>
                            <li><a href="info.html#situation">就业形势</a></li>
                            <li><a href="info.html#prospect">行业前景</a></li>
                            <li><a href="info.html#news">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="download.html"><span class="download"></span>下载区</a>
                        <ul>
                            <li><a href="download.html#doc">教学视频</a></li>
                            <li><a href="download.html#vedio">课程资料</a></li>
                        </ul>
                    </li>
                    <li><a href="grades.html"><span class="grades"></span>成绩查询</a></li>
                    <li><a href="bbs.html"><span class="bbs"></span>留言板</a></li>
                    <li><a href="test.html"><span class="test"></span>网上测试</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
        <div class="grades">
            <h3>成绩查询</h3><br>{% if admin %}
            
            <input type=button onclick="window.location.href='import'" value="导入成绩">
            <input type=button onclick="window.location.href='delete'" value="删除全部"> {% endif %}{%if alldata%}
            <input type=button onclick="window.location.href='export'" value="导出成绩">
            <table>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>期中成绩</td>
                    <td>期末成绩</td>
                    <td>总成绩(30%期中70%期末)</td>
                </tr>
                {% for line in alldata %}
                <tr>
                    <td>{{ line.id }}</td>
                    <td>{{ line.name }}</td>
                    <td>{{ line.middlegrade }}</td>
                    <td>{{ line.finalgrade }}</td>
                    <td>{{ line.grade}}</td>
                </tr>{% endfor %}
            </table>
            {%else%}
            <h4>当前数据库中没有成绩表！</h4> {%endif%}
        </div>
        <footer>
            <div class="container">
                <div class="footer-main">
                    <div class="footerleft">
                        <P>
                            <a href="index.html">
                                <img src="{{ url_for('static', filename='image/logo-footer.png') }}">
                            </a>
                        </P>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
