{% extends "layout.html" %} {% block title %}登录{% endblock %} {% block body %}
<div class="login" align="center">
    <p>
        <h2> 用户登录</h2></p>
    {% if session['user_email'] %}
    <p class="login-box"></p>
    {% else %}
    <form class="login-form" method="POST" action="{{url_for('login')}}">
        <div class="inner-form-login">
            {{ form.hidden_tag() }}
            <p class="email">邮箱：{{ form.email(size=20) }}</p>
            {% if form.email.errors %}
            <ul class=errors>
                {% for error in form.email.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p> 密码：{{ form.password(size=20, type = "password") }}</p>
            {% if form.password.errors %}
            <ul class=errors>
                {% for error in form.password.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input class="login-btn" type="submit" value="登录">
            </p>
        </div>
    </form>
    <p>
        新用户 <a href="{{url_for('signup')}}">点击这里</a> 注册.
    </p>
    {% endif %}
</div>
{% endblock %}
