<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>网上测试</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <script type="{{
  url_for('static', filename='prefixfree.js') }}"></script>
</head>

<body>

    <body>
        <div class="topheader">
        <br>
        <h2>&nbsp;软件项目管理在线学习</h2>
        <h3>&nbsp;&nbsp;Software Project Management Learning Online</h3>
    </div>
        <div class="wrap">
            <nav>
                <ul class="menu">
                    <li><a href="index.html"><span class="home"></span>首页</a>
                        <ul>
                            <li><a href="index.html#intro">课程介绍</a></li>
                            <li><a href="index.html#content">课程内容</a></li>
                            <li><a href="index.html#praxis">课程实践</a></li>
                            <li><a href="index.html#tteam">教学团队</a></li>
                            <li><a href="index.html#login">用户登录</a></li>
                        </ul>
                    </li>
                    <li><a href="info.html"><span class="info"></span>行业信息</a>
                        <ul>
                            <li><a href="info.html#situation">就业形势</a></li>
                            <li><a href="info.html#prospect">行业前景</a></li>
                            <li><a href="info.html#news">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="download.html"><span class="download"></span>下载区</a>
                        <ul>
                            <li><a href="download.html#doc">教学视频</a></li>
                            <li><a href="download.html#vedio">课程资料</a></li>
                        </ul>
                    </li>
                    <li><a href="grades.html"><span class="grades"></span>成绩查询</a></li>
                    <li><a href="bbs.html"><span class="bbs"></span>留言板</a></li>
                    <li><a href="test.html"><span class="test"></span>网上测试</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
        <div class="test">
            <h3>网上测试</h3>
            <br>
            <pre>1. 以下哪一项最能表现某个项目的特征(    )

    A. 运用进度计划技巧                 B. 整合范围与成本

    C. 确定期限                 D. 利用网络进行跟踪

2. 项目管理需要在相互间有冲突的要求中寻找平衡，除了:(    )

    A. 甲方和乙方的利益                   B. 范围，时间，成本，质量

    C. 有不同需求和期望的项目干系人       D. 明确的和未明确表达的需求

3. 以下都是日常运作和项目的共同之处，除了:(    )

    A. 由人来作   B. 受制于有限的资源    C. 需要规划、执行和控制   D. 都是重复性工作
     
4. 有效的项目管理要求项目管理团队理解和利用以下专业知识领域的知识和技能，除了:(    )

    A. 项目管理知识体系                       B. 应用领域知识、标准与规章制度

    C. 以项目为手段对日常运作进行管理         D. 处理人际关系技能

5. 下列都是子项目的正确说法，除了:(    )

    A. 划分子项目的目的是为了便于管理     B. 子项目的划分便于发包给其他单位

    C. 项目生命期的一个阶段是子项目       D. 子项目不能再往下划分成更小的子项目
    
6. 管理一个项目包括以下内容，除了:(    )

    A. 识别要求                            B. 确定清楚而又能实现的目标

    C. 权衡质量、范围、时间和费用的要求  D. 制定符合项目经理期望的计划和说明书
    
7. (    )是为创造一种产品、服务或者结果而进行的临时性的努力

    A. 项目群          B. 过程        C. 项目         D. 组合

8. 下列(    )不属于项目管理的特征

    A. 独特性                               B. 通过渐进性协助实施的

    C. 拥有主要顾客或项目发起人             D. 具有很小的确定性

9. 下列(    )不属于项目管理的三维约束

    A. 达到范围目标     B. 达到时间目标    C. 达到沟通目标        D. 达到成本目标
                 
10. (    )就是将知识、技能、工具和技术应用到项目活动，以达到组织的要求

    A. 项目管理       B. 项目组管理        C. 项目组合管理        D. 需求管理

</pre>
            <h1>答案：1C 2A 3D 4C 5D 6D 7C 8D 9C 10A</h1>
        </div>
        <footer>
            <div class="container">
                <div class="footer-main">
                    <div class="footerleft">
                        <P>
                            <a href="index.html">
                                <img src="{{ url_for('static', filename='image/logo-footer.png') }}">
                            </a>
                        </P>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
